.headerTotal{
    height: 14vh;
    background-color: yellow;
}


.header{
    height: 7vh;
    text-align: center;
}

.headerBottom{
    border-style: solid;
    line-height: 6vh;
}

.search{
    width: 500px;
    margin-top: 2vh;
    height: 3vh;
}

.options{
    vertical-align: middle;
    margin-right: 3vw;
}

.options:hover{
    padding: 1%;
}

.content{
    background-color: rgb(224, 220, 220);
    height: 86vh;
    text-align: center;
}

.payment{
    height: 13vh;
    width: 80vw;
    background-color: white;
    border-radius: 1vw;
    display: inline-block;
    margin-top: 5vh;
    width: 80vw;
    margin-bottom: 5vh;
}


.offer, .first{
    height: 13vh;
    width: 20vw;
    float: left;
    text-align: left;
}

.first{
    border-right: solid rgb(0, 0, 0) 2px;
}

.title{
    margin-top: 3.5vh;
}

.title, .subtitle{
    margin-left: 1vw;
} 

.page{
    text-align: center;
}

.img{
    float: left;
    margin-top: 5vh;
    width: 15vw;
    height: 29.75vh;
    background-color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow: hidden;
}

.img:hover{
    height: 35vh;
}

.before{
    border-top: solid rgb(0, 0, 0) 1px;
    text-decoration: line-through;
}